
{% extends "base.html" %}

{% block content %}
    {% comment %} Featured Posts {% endcomment %}

    <main class="container">
        <div class="section-header">
            {% comment %} <h2>CATEGORY -  {{ category|upper }} </h2>        <!-- Here {{category}} (means category name) comes from posts_by_category view --> {% endcomment %}
            <h2 style="font-family: 'Playfair Display', serif; font-size: 2.5rem; color: #1a1a1a; margin: 2rem 0; line-height: 1;">
                <span style="font-family: 'Poppins', sans-serif; font-size: 0.85rem; color: #d946ef; letter-spacing: 0.2em; display: block; margin-bottom: 5px; font-weight: 600;">EXPLORE CATEGORY</span>
                {{ category|upper }}
            </h2>

        </div>
    <div class="divider"></div>

    <div class="blog-grid">
    {% if posts %}
    {% for post in posts %}
    <article class="card">
        
        <div class="card-image">
            {% if post.featured_image %}
            <img src="{{ post.featured_image.url }}" alt="Blog featured image">
            {% endif %}
        </div>
        
        <div class="card-content">
            <span class="card-category">
                <h3><a href="{% url "blogs" post.slug %}">{{ post.title }}</a></h3>
            </span>
            <h4>{{ post.short_description|truncatewords:10 }}</h4>
            <p>{{ post.blog_body|truncatewords:10 }}</p>
            
            <div class="card-footer">
                <span class="author">{{ post.author }}</span>
                <span class="date">{{ post.created_at|timesince }} ago</span>
            </div>
        </div>
        
        
    </article>
    {% endfor %}
    {% endif %}
    </div>
    </main>

{% endblock %}