{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

        {% if perms.auth.add_user %}        <!--Only Manager and Superuser has permissions to Edit Users--> 

<div class="dashboard-wrapper">
    
{% include 'dashboard/sidebar.html' %}

    <main class="main-content">

        <header class="page-header">
            <div class="header-text">
                <h2>Edit User</h2>
                <p class="text-muted">Edit your Existing User</p>
            </div>
            <a href="{% url 'users' %}" class="btn btn-secondary">
                <i class="fa-solid fa-arrow-left"></i> Back to List
            </a>
        </header>
        
        <div class="content-card form-wrapper">
            
            <form  method="POST" novalidate> 
                {% csrf_token %}  
                
                <div class="input-container">
                    {{ form.as_p }}
                </div>
                
                {% if form.errors %}
                <div class="form-error">
                    {% for field in form %}
                    {% for error in field.errors %}
                    <span><i class="fa-solid fa-circle-exclamation"></i> {{ field.label }}: {{ error }}</span>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <span><i class="fa-solid fa-circle-exclamation"></i> {{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa-solid fa-check"></i> Create User
                    </button>
                </div>
                
        </form>
        {% else %}
        <div style="position: fixed; top: 0; left: 0; width: 100%; height: 100vh; z-index: 9999; background-color: #f4f4f4; display: flex; justify-content: center; align-items: center;">
    
            <h5 style="color: #ffffff; background-color: #da0c1d; border: 1px solid #b41525; padding: 40px; border-radius: 12px; text-align: center; font-family: 'Segoe UI', sans-serif; box-shadow: 0 10px 25px rgba(0,0,0,0.2); font-size: 2rem; max-width: 600px; width: 90%;">
                <span style="font-size: 3rem; display: block; margin-bottom: 10px;">⚠️</span>
                You Don't Have Permissions To Access This Page!
                
                <a href="{% url 'home' %}" style="display: block; margin-top: 20px; font-size: 1rem; color: white; text-decoration: underline;">
                    Go Back safely
                </a>
            </h5>

        </div>
        {% endif %}
        </div> 
    </main>
</div>

{% endblock %}