   

   
   <aside class="sidebar">
        <div class="sidebar-header">
            <h3>Dashboard</h3>
        </div>
        
        <nav class="sidebar-nav">
            <a href="{% url 'dashboard' %}" class="nav-link {% if request.path == '/dashboard/' %}active{% endif %}">
                <i class="fa-solid fa-chart-line"></i> <span>Dashboard</span>
            </a>
            
            {% if perms.auth.view_user %}    <!--It is used to view Users Sidebar on dashboard only for Managers not for Editors or others-->
            <a href="{% url "users" %}" class="nav-link {% if '/users/' in request.path %}active{% endif %}" >
                <i class="fa-solid fa-users"></i> <span>Users</span>
            </a>
            {% endif %}
            
            <a href="{% url "categories" %}" class="nav-link {% if '/categories/' in request.path %}active{% endif %}">
                <i class="fa-solid fa-layer-group"></i> <span>Categories</span>
            </a>
            
            <a href="{% url "posts" %}" class="nav-link {% if '/posts/' in request.path %}active{% endif %}" >
                <i class="fa-solid fa-file-pen"></i> <span>Posts</span>
            </a>
            
        </nav>
    </aside>